@use "../../foundation/global" as g;

.inner{
    align-items: center;
    display: flex;
}

.c-main{
    @include g.mq(lg){   
        width: calc(100% - 367px);
        background-color: rgb(255,253, 250);
    }
    }

.c-text{
    position: relative;
    margin: 18.333333333333332vw auto;
    line-height: 7.5vw;
    font-size: 18px;

    @include g.mq(md){
    margin: 10vw auto 0;
    line-height: 3.9568345323741005vw;
    font-size: 1.6786570743405276vw;
    font-weight: bold;
    }
    @include g.mq(lg){   
        font-size: 1.0vw; 
        margin-top: 8vw;
        margin-left: 3vw;
        line-height: 1.956835vw;
        width: calc(100% - 50%);
           }
}