@use "../../foundation/global" as g;

.c-wrapper{
    @include g.mq(md){
       display: flex;
    }
}

.c-label{
    font-family: "Roboto";
    font-style: Bold;
    @include g.font-size(38);
    color: rgba(255, 255, 255, 1);
    margin-bottom: 2.8vw;

        @include g.mq(md){
        font-size: 4.333333vw;
        }
            @include g.mq(lg){
                font-size: 3.804878vw;
                margin-bottom: 1vw;    
            
            }
}
 
.c-figcaption__title-1{
    color: rgba(60, 42, 16, 1);
    font-family: "mplus-1m-bold";
    font-weight: 700;
    @include g.font-size(22);
    margin-bottom: 7px;
    margin-top: -11px;

    @include g.mq(md){   

    margin-bottom: 1.9184652278vw;
    font-size: 2.8776978417vw;
    line-height: 2.8776978417vw;
    }
    @include g.mq(lg){
        font-size: 1.5vw;
        margin: -2.7vw 0 0.5vw -1.6vw;
    
    }

}
    


.c-center__caption{
   

@include g.mq(md){
       
    }

    @include g.mq(lg){
      
    
}
}
