@use"../../foundation/global" as g;



.pages::before{
    content:"page"
}

.pages::after{
    content:"<<"

    
}

.current{
    margin-left: 2vw;
    border: solid 1px #454545;
    padding: 4px 8px;

}

a.page {
    border: solid 1px #454545;
    padding: 4px 8px;
    margin-left: 1vw;

}
a.nextpostslink {
    margin-left: 2vw
}

span.extend {
    padding-left: 1vw;
}