@use '../foundation/global' as g;

.button{
    cursor: pointer;
}

.c-center__caption {
    @include g.mq(md){
    display: flex; 
    margin: 0 2vw;  
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
   
    }

    @include g.mq(lg){
    margin: 0 2vw ;
    }
}

.figcaption{
    position: relative;
    margin: 5vw;
    padding: 4vw;
    background-size: cover;
    height: auto;
    
            @include g.mq(md){
                padding: 2vw;    
                margin: 5vw 2vw;
                min-height: 643px;
                height: 100%;
                display: grid;
                align-items: end;
                }

            @include g.mq(lg){
                margin-top: 4rem;  
            /* display: flex;    */
                flex-flow: column;
                justify-content: flex-end;
            }
}


.l-theme{         
        
    font-family: g.$main-font;
    @include g.main-area;

    @include g.mq(md){
    
        
               }
   
 

&__theme{
    
    @include g.main-area;

    @include g.mq(md){
        margin-top: 2.266667vw;

}
}
        
&__service{
list-style: none;
font-family: 'M+ 1m';
color: g.$color-c-figcaption__title;
font-size: 16px;

@include g.mq(md){ 
font-size: 0.9rem;
margin-top: auto;
}
@include g.mq(lg){
   margin: 0 -1vw;
   font-size: 0.9vw;
   line-height: 1.3vw;
      
}
}

}

.l-item {
    @include g.mq(md){   
     padding: 2.666666666666667vw ;
     
}
}

.l-contens__title{
    margin-bottom: auto;
}